<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="logobox">
      <a href=""><img src="/assets/THD-Logo.png" height="50" /></a>
    </div>
    <!-- <span class="spacer"></span> -->
  </mat-toolbar-row>

  <mat-toolbar-row>
    <div>
    <a mat-button  routerLink="/">Home</a>
    <a mat-button routerLink="/news">News</a>
    <a mat-button routerLink="/navigation">Navigation</a>
    <a mat-button routerLink="/events">Events</a>
  </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
