mat-form-field.mat-form-field {
    font-size: 10px;
    color: rgb(154, 196, 212);
    background-color: rgb(61, 63, 124);
    position: absolute;
    border-radius: 8px;
    border:rgb(9, 10, 39);
    max-width: 80px;
    min-width: 60px;
    right: 5px;
    top: 60px;
}